<!--<div class="container">
  <div class="card">
    <nav class="dark-primary-color ">
      <div class="nav-wrapper">
        <div class="divider"></div>
        <ul class="left">
          <li><a [routerLink]="['../dmhomerepostock']"><i class="material-icons left">view_module</i> วัสดุไกล้หมด</a></li>
          <li><a [routerLink]="['../dmhomerepo']"><i class="material-icons left">search</i> วัสดุไกล้ Expire</a></li>
          <li><a [routerLink]="['../dmhomerepo10']"><i class="material-icons left">list</i> มูลค่าสินค้ามากที่สุด 10 ตัว</a></li>

        </ul>
      </div>
    </nav>
    <p-dataTable [value]="models" [responsive]="true" [stacked]="stacked" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20,50,100,200,300]">
      <p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
        <ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
          {{rowIndex+1}}
        </ng-template>
      </p-column>
      <p-column field="mcode" header="รหัสวัสดุ" [sortable]="true"></p-column>
      <p-column field="mname" header="ชื่อวัสดุ" [sortable]="true"></p-column>
      <p-column field="numnow" header="จำนวนคงเหลือ" [sortable]="true" [style]="{'text-align':'center'}"></p-column>
      <p-column styleClass="col-button" field="exps" header="สถานะ" [sortable]="true" [style]="{'text-align':'center'}">
        <ng-template let-car="rowData" pTemplate="body">
          <span [class]="car.numexps" data-badge-caption="">{{car.exps}}</span>
        </ng-template>
      </p-column>
      <p-column field="expire" header="วันที่หมดอายุ" [sortable]="true"></p-column>
    </p-dataTable>
  </div>
</div>-->

<!--<div class="collection">
  <a href="#!" *ngFor="let item of models" class="collection-item"><span class="badge">1</span>{{item.mcode}}</a>

</div>-->

<!--<p-dataTable [value]="models" [responsive]="true" [stacked]="stacked" [rows]="10" [paginator]="true" [pageLinks]="5" [rowsPerPageOptions]="[5,10,20,50,100,200,300]">
  <p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
    <ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
      {{rowIndex+1}}
    </ng-template>
  </p-column>
  <p-column field="mcode" header="รหัสวัสดุ" [sortable]="true"></p-column>
  <p-column field="mname" header="ชื่อวัสดุ" [sortable]="true"></p-column>
  <p-column field="numnow" header="จำนวนคงเหลือ" [sortable]="true" [style]="{'text-align':'center'}"></p-column>
  <p-column styleClass="col-button" field="exps" header="สถานะ" [sortable]="true" [style]="{'text-align':'center'}">
    <ng-template let-car="rowData" pTemplate="body">
      <span [class]="car.numexps" data-badge-caption="">{{car.exps}}</span>
    </ng-template>
  </p-column>
  <p-column field="expire" header="วันที่หมดอายุ" [sortable]="true"></p-column>
</p-dataTable>-->
<div class="collection-header"><h4><i class="material-icons">query_builder</i> วัสดุใกล้ Expire</h4></div>
<div class="collection">
  <a *ngFor="let item of models;let i=index" pTooltip="วันที่หมดอายุ {{item.expire}} " tooltipPosition="top"
    class="collection-item"><span [class]="item.numexps">{{item.exps}}</span>{{i+1}} - {{item.mcode}} | {{item.mname}} </a>
</div>