<p>
this is ok ofthe months
</p>
his WOULD delete the files if they aren't in use, but so long as Git locks them, it won't work so this does not answer "how to delete a local repo". – rainabba Mar 18 '14 at 7:42
8	 	
@rainabba, Why would Git be locking them in the first place? Close your Git app. – Pacerier Oct 20 '15 at 11:13 
2	 	
How do you 'close your Git app'? Anyway, it's seemingly about permission rather than app lockdown. In Ubuntu: sudo rm -r directory. – Jonatan Öström Aug 18 '16 at 15:26
1	 	
What if there is no .git directory? – Jozemite Apps Sep 10 '16 at 0:57
  	 	
@JozemiteApps If there is no .git directory, there is no repository. Run ls -a to see hidden files. – Lincoln Bergeson Jan 27 at 18:44