.ca-number-display-container {
    display: table;
    width: 100%;
    height: 21%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: black;
  }

  .ca-number-display-text {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    text-align: right;
    color: white;
    font-size: xx-large;
    padding-right: 9%;
    font-weight: lighter;
    font-family: Roboto-Regular,helvetica,arial,sans-serif;
  }

  .ca-numberpad-container {
    display: table;
    width: 100%;
    height: 80%;
    table-layout: fixed;
  }

  .ca-number-display {
    width: 100%;
  }
  .ca-row-container {
    display: table-row;
    margin: 0px;
    padding: 1px;
  }
  .ca-item-container {
    display: table-cell;
    border: 1px solid #A9A9A9;
  }
  .ca-button {
    display: table;
    text-align: center;
    background-color: gray;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
  .ca-button:hover {
    opacity: 0.8;
  }
  .ca-button-text {
    display: table-cell;
    font-size: x-large;
    vertical-align: middle;
    font-family: Roboto-Regular,helvetica,arial,sans-serif;
  }
  .operator {
    background-color: #FF9933;
    color: white;
  }
  .number {
    background-color: #DCDCDC;
    color: black;
  }
  .unary-operator {
    background-color: #D9D9D9;
  }