<!--<div class="container">
  <nav class="teal lighten-2">
    <div class="nav-wrapper">
      <div class="divider"></div>
      <ul class="left">
        <li><a [routerLink]="['../dmoutrepo']"><i class="material-icons left">fast_rewind</i> ย้อนกลับ</a></li>
      </ul>
    </div>
  </nav>
</div>




<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">list</i>ตัวเลือกหมวดหมู่</div>
    <div class="collapsible-body">
      <app-c-main-cat [apiKey]="apikeyCat"></app-c-main-cat>
    </div>
  </li>
</ul>-->







<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-image">
          <nav class="teal lighten-2">
            <div class="nav-wrapper">
              <div class="divider"></div>
              <ul class="left">
                <li><a [routerLink]="['../dmoutrepo']"><i class="material-icons left">fast_rewind</i> ย้อนกลับ</a></li>
              </ul>
            </div>
          </nav>
          <button *ngIf="openlist" class="btn-floating btn-large halfway-fab waves-effect waves-light  teal lighten-1" pTooltip="รายการบัญทึกล่าสุด"
            tooltipPosition="top" (click)="opsave()"><i class="material-icons">replay</i></button>

          <button *ngIf="openpage" class="btn-floating btn-large halfway-fab waves-effect waves-light  teal lighten-1" pTooltip="เพิ่มใหม่"
            tooltipPosition="top" (click)="opCancel()"><i class="material-icons">add</i></button>
        </div>
        <div class="card-content">
          <ul class="collapsible" data-collapsible="accordion">
            <li *ngIf="openlist">
              <div class="collapsible-header"><i class="material-icons">list</i>ตัวเลือกหมวดหมู่</div>
              <div class="collapsible-body">
                <app-c-main-cat></app-c-main-cat>
              </div>
            </li>
          </ul>
          <app-c-out-list *ngIf="openlist" [apiKey]="apikeyListOut" (getList)="listData($event)"></app-c-out-list>
          <app-c-out-form *ngIf="openform" [fromlistData]="fromlistData" (onCancel)="okCancel($event)"></app-c-out-form>
          <app-c-out-listout *ngIf="openpage" [apikeyListup]="apikeyListup"></app-c-out-listout>
        </div>
      </div>
    </div>
  </div>
</div>









<!-- Modal Structure -->
<!--<div id="modal1" class="modal">
  <div class="modal-content">
    <p-panel header="แก้ไขข้อมูล" [toggleable]="true">
      <form (ngSubmit)="save();">
        <div class="row">
          <div class="col s3">
            <label> Lot ID</label>
            <select class="browser-default" [(ngModel)]="model.lotnumber" name="lotnumber" id="lotnumber" (change)="getoutin($event)">
                                <option [value]="0" disabled selected>ตัวเลือก</option>
                                <option *ngFor="let item of models3;let i=index" [value]="item.lotid">{{i+1}} - {{item.numstockin}} {{"("+munit+")"}}</option>
                            </select>
          </div>
          <div class="col s4">
            <label> รหัสวัสดุ</label>
            <input class="browser-default" [(ngModel)]="model.mcode" name="mcode" id="mcode" type="text" disabled>
          </div>
          <div class="col s5">
            <label> ชื่อวัสดุ</label>
            <input [(ngModel)]="model.mname" name="mname" id="mname" type="text" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label> วันที่เบิกจ่าย</label>
            <input [(ngModel)]="model.datestockout" name="datestockout" id="datestockout" type="date" disabled>
          </div>
          <div class="col s6">
            <label> ผู้เบิก</label>
            <select class="browser-default" [(ngModel)]="model.receiver" name="receiver" id="receiver">
                                <option [value]="0" disabled selected>ตัวเลือก</option>
                                <option *ngFor="let item of models1" [value]="item.rcid">{{item.rcname}} - {{item.supname}}</option>
                            </select>
          </div>
        </div>
        <div class="row">
          <div class="col s2">
            <label> คงเหลือ</label>
            <input [(ngModel)]="model.numstockin" id="numstockin" name="numstockin" type="number" disabled>
          </div>
          <div class="col s4">
            <label> จำนวนเบิกจ่าย * <span class="badge yellow" (click)="getmn()" pTooltip="คลิกเบิกทั้งหมด" tooltipPosition="top">เบิกทั้งหมด</span></label>
            <input [(ngModel)]="model.numstockout" id="numstockout" name="numstockout" type="number" (change)="doCheckNum()">
          </div>
          <div class="col s3">
            <label> ราคาต่อหน่วย</label>
            <input [(ngModel)]="model.pricen" name="pricen" id="pricen" type="number" step="0.01" type="number" disabled>
          </div>
          <div class="col s3">
            <label> มูลคาเบิกจ่าย</label>
            <input [(ngModel)]="model.priceout" name="priceout" id="priceout" type="number" step="0.01" disabled>
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            <label> เดือนปีหมดอายุ(เช่น 201806)</label>
            <input [(ngModel)]="model.expire" name="expire" type="number" id="expire" placeholder="YYYYMM" maxlength="6" disabled>
          </div>
          <div class="col s6">
            <label> หมายเหตุ</label>
            <input [(ngModel)]="model.notelot" id="notelot" name="notelot" placeholder="หมายเหตุ" type="text" disabled>
          </div>
        </div>
        <div class="row">
          <a class="btn-floating btn-small red right" pTooltip="ปิดหน้าต่าง" tooltipPosition="top" (click)="doCancel()">
      <i class="small material-icons">cancel</i>
    </a>

          <button style="margin-right:5px" type="submit" pTooltip="บันทึก" tooltipPosition="top" class="btn-floating btn-small blue right">
      <i class="small material-icons">check</i>
    </button>
        </div>
      </form>
    </p-panel>
  </div>
  <div class="modal-footer">

  </div>
</div>-->