<div class="container">
  <div class="card">
    <nav class="dark-primary-color ">
      <div class="nav-wrapper">
        <div class="divider"></div>
        <ul class="left">
          <li><a [routerLink]="['../../dmmainlistcat']"><i class="material-icons left">skip_previous</i> เลือกหมวดหมู่วัสดุทันตกรรม</a></li>
        </ul>
      </div>
    </nav>
    <p-dataTable *ngIf="models!=''" [value]="models" [rows]="20" [paginator]="true" [pageLinks]="3" [rowsPerPageOptions]="[20,40,60,80,100]"
      [responsive]="true" sortField="catname" rowGroupMode="subheader" groupField="catname" [globalFilter]="gb">
      <ng-template pTemplate="rowgroupheader" let-rowData><i class="ace-icon fa fa-folder-open"></i> หมวดหมุ่ : {{rowData['catname']}}</ng-template>
      <p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
        <ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
          {{rowIndex+1}}
        </ng-template>
      </p-column>
      <p-column field="mcode" header="รหัส" [sortable]="true" [filter]="true"></p-column>
      <p-column field="mname" header="ชื่อวัสดุ" [sortable]="true" [filter]="true"></p-column>
      <p-column field="munit" header="หน่วยนับ" [sortable]="true" [filter]="true"></p-column>
      <p-column field="numstockin" header="จำนวนรับเข้า" [sortable]="true" [filter]="true"></p-column>
      <p-column field="numstockout" header="จำนวนเบิกจ่าย" [sortable]="true" [filter]="true"></p-column>
      <p-column field="numnow" header="จำนวนคงคลัง" [sortable]="true" [filter]="true"></p-column>
      <p-column field="stck" header="สถานะวัสดุ" [sortable]="true" [filter]="true" [style]="{'width':'110px','text-align':'center'}">
        <ng-template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
          <span [class]="car.stckcol" pTooltip="คงเหลือขั้นต่ำ : {{car.nummin}} {{car.munit}}" tooltipPosition="top">{{car.stck}}</span>
        </ng-template>
      </p-column>
      <p-column styleClass="col-button" header="รายละเอียด" [style]="{'text-align':'center'}">
        <ng-template let-car="rowData" let-rowIndex="rowIndex" pTemplate="body">
          <a class="btn-floating btn-small purple" href="#modal1" pTooltip="รายละเอียด" tooltipPosition="top" (click)="getsearch(car)"> <i class="material-icons">search</i></a>
        </ng-template>
      </p-column>
    </p-dataTable>
  </div>
</div>




<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <p-panel header="รายละเอียด" [toggleable]="true">
      <div class="row">
        <div class="card" style="margin:10px">
          <div class="card-content">
            <h4 class="header">
              รหัสวัสดุ :: {{showProduct && showProduct['mcode'] }}<br /> ชื่อวัสดุ :: {{showProduct && showProduct['mname']}}
            </h4>
            <h6> ยอดยกมา :: {{showProduct && showProduct['historical']}} {{ showProduct && showProduct['munit']}} มูลค่า : {{showProduct
              && showProduct['historicalvalue']}} บาท</h6>
            <h6> จำนวนคงคลัง :: {{models1|sums2:'numstockin':'numstockout' |number}} {{showProduct && showProduct['munit'] }}</h6>
            <h6> มูลค่าคงคลัง :: {{models1|sums2:'pricelot':'priceout' |number}} บาท</h6>
          </div>
          <a class="btn-floating halfway-fab waves-effect waves-light red" pTooltip="ปิดหน้าต่าง" tooltipPosition="top" (click)="doCancel()"><i class="material-icons">cancel</i></a>
        </div>
      </div>
      <p-dataTable [value]="models1">
        <p-column header="ลำดับ" [sortable]="true" [style]="{'width':'60px','text-align':'center'}">
          <ng-template let-col let-rowData="rowData" let-rowIndex="rowIndex" pTemplate="body">
            {{rowIndex+1}}
          </ng-template>
        </p-column>
        <p-column field="notelot" header="หมายเหตุ" [style]="{'text-align':'center'}"></p-column>
        <p-column field="datestock" header="วันที่ทำรายการ" [style]="{'text-align':'center'}"></p-column>
        <p-column field="supname" header="บริษัท" [style]="{'text-align':'center'}"></p-column>
        <p-column field="numstockin" header="จำนวนรับเข้า" [style]="{'text-align':'center'}"></p-column>
        <p-column field="pricen" header="ราคา/น" [style]="{'text-align':'center'}"></p-column>
        <p-column field="pricelot" header="มูลค่า" [style]="{'text-align':'center'}"></p-column>
        <p-column field="numstockout" header="จำนวนเบิกจ่าย" [style]="{'text-align':'center','color':'#ff00aa'}"></p-column>
        <p-column field="priceout" header="มูลค่า" [style]="{'text-align':'center','color':'#ff00aa'}"></p-column>
        <p-column field="rcname" header="ผู้เบิกจ่าย" [style]="{'text-align':'center','color':'#ff00aa'}"></p-column>
        <p-footerColumnGroup>
          <p-row>
            <p-column footer="รวม :" colspan="4"></p-column>
            <p-column footer="{{models1|sums:'numstockin'|number}}"></p-column>
            <p-column footer="{{models1|sums:'pricen'|number}}"></p-column>
            <p-column footer="{{models1|sums:'pricelot'|number}}"></p-column>
            <p-column footer="{{models1|sums:'numstockout'|number}}"></p-column>
            <p-column footer="{{models1|sums:'priceout'|number}}"></p-column>
            <p-column></p-column>
          </p-row>
        </p-footerColumnGroup>
      </p-dataTable>
    </p-panel>
  </div>
  <div class="modal-footer">
  </div>
</div>