
<div class="container">

<div class="card">
<div class="card-header center">
<h4 center>
ระบบ จัดซื้อจัดจ้าง
</h4>
</div>
<nav class="dark-primary-color ">
    <div class="nav-wrapper">
     <div class="divider"></div>
      <ul class="left ">
        <li><a [routerLink]="['labprocure']"><i class="material-icons left">search</i>รายการจัดซื้อจัดจ้าง</a></li>
        <li><a [routerLink]="['laboffice']"><i class="material-icons left">view_module</i>บริษัทLab</a></li>
        <li><a [routerLink]="['showproduct']"><i class="material-icons left">view_module</i>แสดงรายการวัสดุ </a></li>
        <li><a [routerLink]="['productdashboard']"><i class="material-icons left">view_module</i>Dashboard </a></li>

      </ul>
    </div>
  </nav>



    <router-outlet></router-outlet>
    </div>
    </div>